<div style="position: relative">
  <%= link_to "â† Voltar", root_path, class: "back-button" %>

  <div id="stations-map"
       data-controller="map"
       data-map-stations-value="<%= @stations_json %>"
       style="height: 100vh; width: 100%;">
  </div>
</div>